<h1 class="content-title-xl">Add new poem</h1>

<form action="/poem/add" method="post" th:object="${poem}">
    <div class="row">
        <div class="col-15">
            <label for="title">Title</label>
        </div>
        <div class="col-85">
            <input th:classappend="${#fields.hasErrors('title')} ? 'field-error'" th:value="*{title}"
                   class="form-field" id="title" name="title" type="text" placeholder="Poem's title"/>

            <th:block th:if="${#fields.hasErrors()}" th:each="error : ${#fields.errors('title')}">
                <div>
                    <small class="text-error" th:text="${error}"></small>
                </div>
            </th:block>
        </div>
    </div>

    <div class="row">
        <div class="col-15">
            <label for="author">Author</label>
        </div>
        <div class="col-85">
            <input th:classappend="${#fields.hasErrors('author')} ? 'field-error'" th:value="*{author}"
                    class="form-field" id="author" name="author" type="text" placeholder="Author's name"/>

            <th:block th:if="${#fields.hasErrors()}" th:each="error : ${#fields.errors('author')}">
                <div>
                    <small class="text-error" th:text="${error}"></small>
                </div>
            </th:block>
        </div>
    </div>

    <div class="row">
        <div class="col-15">
            <label for="publishYear">Year released</label>
        </div>
        <div class="col-85">
            <input th:classappend="${#fields.hasErrors('publishYear')} ? 'field-error'" th:value="*{publishYear}"
                    class="form-field" id="publishYear" name="publishYear" type="number" step="1"/>

            <th:block th:if="${#fields.hasErrors()}" th:each="error : ${#fields.errors('publishYear')}">
                <div>
                    <small class="text-error" th:text="${error}"></small>
                </div>
            </th:block>
        </div>
    </div>

    <div class="row">
        <div class="col-15">
            <label for="poemContent">Poem</label>
        </div>
        <div class="col-85">
            <textarea th:classappend="${#fields.hasErrors('poemContent')} ? 'field-error'" th:text="*{poemContent}"
                    class="form-field" id="poemContent" name="poemContent" placeholder="Poem's content"></textarea>

            <th:block th:if="${#fields.hasErrors()}" th:each="error : ${#fields.errors('poemContent')}">
                <div>
                    <small class="text-error" th:text="${error}"></small>
                </div>
            </th:block>
        </div>
    </div>

    <input class="float-right submit" type="submit" value="Add"/>
</form>