<h1 class="content-title-xl">All poems registered</h1>

<table class="alternating">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year Published</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="poem : ${poems}">
        <td><a th:href="@{/poem/details/} + ${poem.getId()}" th:text="${poem.title}"></a></td>
        <td th:text="${poem.author}"></td>
        <td th:text="${poem.publishYear}"></td>
    </tr>

    <tr th:if="${poems.isEmpty()}">
        <td colspan="3" style="text-align: center; font-style: italic">There are no registered poems</td>
    </tr>
    </tbody>
</table>

<div th:if="${!poems.isEmpty()}" th:with="rout=@{/?}">
    <th:block th:replace="poems-table-pagination"></th:block>
</div>