<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poems</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Release Year</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="poem : ${poems}">
        <td th:text="${poem.title}"></td>
        <td th:text="${poem.author}"></td>
        <td th:text="${poem.publishYear}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
</body>
</html>