<h1 class="content-title-xl" th:text="${'Query results for - ' + query  + (year == 0 ? '' : ', ' + year)}"></h1>

<table class="alternating">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Release Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="poem : ${poems}">
        <td><a th:href="@{/poem/details/} + ${poem.getId()}" th:text="${poem.title}"></a></td>
        <td th:text="${poem.author}"></td>
        <td th:text="${poem.publishYear}"></td>
    </tr>
    </tbody>
</table>

<div th:with="rout=@{/poem/search?(query=${query}, year=${year})}">
    <th:block th:replace="poems-table-pagination"></th:block>
</div>